# Задание 1

Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

- если источник traffic_source равен yandex или google, то в source_type ставится organic
- для источников paid и email из России - ставим ad
- для источников paid и email не из России - ставим other
- все остальные варианты берем из traffic_source без изменений

In [3]:
import pandas as pd

In [4]:
visit_log = pd.read_csv('ml-latest/visit_log.csv', sep = ';')

def  find_type_of_source(row):
    if row['traffic_source'] == 'yandex' or row['traffic_source'] == 'google':
        return 'organic'
    if row['region'] == 'Russia' and row['traffic_source'] == 'paid' or row['traffic_source'] == 'email':
        return 'ad'
    if row['region'] != 'Russia' and row['traffic_source'] == 'paid' or row['traffic_source'] == 'email':
        return 'other'
    return row['traffic_source'] 
    
visit_log['source_type'] = visit_log.apply(find_type_of_source, axis = 1)
visit_log.sample(10)

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
1508,1549989663,1e65b5486d,https://host.ru/060d9bdbcba66b8bb3,Russia,0ce3424937,yandex,organic
13939,1550063905,3ee03dbc16,https://host.ru/8fe7c39e5c598bbc54,Belarus,65c80764ec,direct,direct
9202,1550035654,48ba87036f,https://host.ru/fd32c3d2de55949865,Russia,d8ba30e0df,direct,direct
6494,1550019700,5930c4f6db,https://host.ru/3c19b4ef7371864fa3,Ukraine,de9d41ab01,yandex,organic
15980,1550076257,73ee4198b9,https://host.ru/fd32c3d2de55949865,Russia,3906d2658c,email,ad
16655,1550080278,7c9ede2a75,https://host.ru/8880fd00cf23066541,Russia,0dcd85ad1c,direct,direct
4656,1550008785,09fbcab7e9,https://host.ru/1be58f19f26458f2fe,Russia,047b558143,email,ad
10282,1550042119,6f812de334,https://host.ru/53b1649b8344e663e9,Australia,7ada6339e3,google,organic
8512,1550031605,2b1b920dc6,https://host.ru/87010dbb42ea270213,Russia,04ed61439f,paid,ad
2308,1549994588,9a85075849,https://host.ru/9f90e5c423a5f976d4,Russia,54d3303df1,direct,direct

# Вариант №2

In [5]:
visit_log = pd.read_csv('ml-latest/visit_log.csv', sep = ';')
visit_log.loc[(visit_log.traffic_source == 'yandex') | (visit_log.traffic_source == 'google'), 'source_type'] = 'organic'
visit_log.loc[((visit_log.traffic_source == 'paid') | (visit_log.traffic_source == 'email')) & (visit_log.region == 'Russia'), 'source_type'] = 'ad'
visit_log.loc[((visit_log.traffic_source == 'paid') | (visit_log.traffic_source == 'email')) & (visit_log.region != 'Russia'), 'source_type'] = 'other'
visit_log.loc[visit_log.source_type.isnull(), 'source_type'] = visit_log['traffic_source']
visit_log.head(10)

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic
5,1549980742,8855508aad,https://host.ru/df646c3676cc259fa0,Russia,fc43898e47,yandex,organic
6,1549980742,b0f66adc83,https://host.ru/b8b58337d272ee7b15,Russia,13fc55e781,paid,ad
7,1549980754,837885c8f8,https://host.ru/108ce4b365afb7b88e,Russia,cb5082b6f6,direct,direct
8,1549980760,af5570f5a1,https://host.ru/3004a8273caeef2867,China,45664f7af2,direct,direct
9,1549980765,3e7077fd2f,https://host.ru/df646c3676cc259fa0,Russia,6f9de8c8b6,email,ad

# Задание 2

В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. 

Выполните следующие действия:

- Прочитайте содержимое файла с датафрейм
- Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [6]:
news = pd.read_csv('ml-latest/URLs.txt')
news[news['url'].str.contains('\/\d{8}\-')].sample(10)

                                                  url
80  /sport/36235520-v-britanii-razgorelsya-krupney...
49  /world/36206871-na-ukraine-nachalsya-shturm-uc...
78  /incidents/36003455-natalya-melamed-pered-gibe...
44  /incidents/36173928-v-ekaterinburge-migranty-u...
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
23  /politics/36115220-mid-vystupil-s-preduprezhde...
85  /starlife/36096316-u-lyudmily-maksakovoy-sdali...
12  /politics/36118047-otets-24-detey-potreboval-i...
36  /video/35930625-dozvonivshiysya-v-efir-ukrains...

# Задание 3

Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [15]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings_count = ratings.groupby('userId').agg(['count', 'max', 'min'])['timestamp']
# группировка по userid и подсчет max и min значения по столбцу timestamp
filtred_ratings = ratings_count[ratings_count['count'] > 100].reset_index()
# фильтрация пользователей 
filtred_ratings['lifetime'] = filtred_ratings['max'] - filtred_ratings['min']
# время жизни  
filtred_ratings['lifetime'].mean() / 24 / 3600
# среднее время жизни

463.89476214829165

In [8]:
filtred_ratings.head(10)

   userId  count         max         min   lifetime
0       4    204   949982274   949778714     203560
1       8    116  1154474527  1154389340      85187
2      15   1700  1469330735   997937239  471393496
3      17    363  1127476640  1127468587       8053
4      19    423   855195373   855190091       5282
5      21    162   854522908   853157476    1365432
6      22    220  1131753381  1131661890      91491
7      23    726  1166728253  1148386124   18342129
8      26    172  1371811577  1351544316   20267261
9      30   1011  1060795346   944943070  115852276

# Задание 4

Дана статистика услуг перевозок клиентов компании по типам (см. файл с кодом занятия). Необходимо сформировать две таблицы:
- таблицу с тремя типами выручки для каждого client_id без указания адреса клиента
- аналогичную таблицу по типам выручки с указанием адреса клиента

 - rzd - железнодорожные перевозки
 - auto - автомобильные перевозки
 - air - воздушные перевозки
 - client_base - адреса клиентов
 
Обратите внимание, что в процессе объединения таблиц данные не должны теряться.

In [9]:
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)

In [10]:
# dataframe без указания адреса
concat = pd.concat([client_base, rzd, auto, air])
table = concat.pivot_table(index = 'client_id', fill_value = 'unknown').reset_index()
table

   client_id air_revenue auto_revenue rzd_revenue
0        111     unknown      unknown        1093
1        112     unknown      unknown        2810
2        113     unknown        57483       10283
3        114     unknown           83        5774
4        115          81          912         981
5        116           4         4834     unknown
6        117          13           98     unknown
7        118         173      unknown     unknown

In [11]:
# dataframe с указанием адреса
joined = client_base.merge(rzd, on = 'client_id', how = 'left').merge(auto, on = 'client_id', how = 'left').merge(air, on = 'client_id', how = 'left').fillna('unknown')
joined

   client_id          address rzd_revenue auto_revenue air_revenue
0        111  Комсомольская 4        1093      unknown     unknown
1        112   Энтузиастов 8а        2810      unknown     unknown
2        113  Левобережная 1а       10283        57483     unknown
3        114          Мира 14        5774           83     unknown
4        115        ЗЖБИиДК 1         981          912          81
5        116    Строителей 18     unknown         4834           4
6        117  Панфиловская 33     unknown           98          13
7        118     Мастеркова 4     unknown      unknown         173

In [12]:
# все данные сохранены
len(joined) == len(table)

True